[submodule "external/Easy3DViewer"]
	path = external/Easy3DViewer
	url = git@github.com:changhaonan/Easy3DViewer.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
